* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.start {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(50% -50%);
}
.pole,
.wrapper {
  border: 1px solid #000;
}

.pole {
  display: flex;
  font-size: 40px;
  font-weight: bold;
  align-items: flex-end;
  justify-content: center;
}

.player {
  width: 100%;
  height: 20px;
  background: #0000bb;
  border: none;
}

@keyframes append-left {
  from {
    transform: translateX(50px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes append-right {
  from {
    transform: translateX(-50px);
  }
  to {
    transform: translateX(0px);
  }
}

.player__animation--left {
  animation: append-left 0.2s linear;
}

.player__animation--right {
  animation: append-right 0.2s linear;
}
.wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(21, 50px);
  grid-template-rows: repeat(7, 50px);
  grid-template-areas:
    "pole1 pole2 pole3 pole4 pole5 pole6 pole7 pole8 pole9 pole10 pole11 pole12 pole13 pole14 pole15 pole16 pole17 pole18 pole19 pole20 pole21"
    "pole22 pole23 pole24 pole25 pole26 pole27 pole28 pole29 pole30 pole31 pole32 pole33 pole34 pole35 pole36 pole37 pole38 pole39 pole40 pole41 pole42"
    "pole43 pole44 pole45 pole46 pole47 pole48 pole49 pole50 pole51 pole52 pole53 pole54 pole55 pole56 pole57 pole58 pole59 pole60 pole61 pole62 pole63"
    "pole64 pole65 pole66 pole67 pole68 pole69 pole70 pole71 pole72 pole73 pole74 pole75 pole76 pole77 pole78 pole79 pole80 pole81 pole82 pole83 pole84"
    "pole85 pole86 pole87 pole88 pole89 pole90 pole91 pole92 pole93 pole94 pole95 pole96 pole97 pole98 pole99 pole100 pole101 pole102 pole103 pole104 pole105"
    "pole106 pole107 pole108 pole109 pole110 pole111 pole112 pole113 pole114 pole115 pole116 pole117 pole118 pole119 pole120 pole121 pole122 pole123 pole124 pole125 pole126"
    "pole127 pole128 pole129 pole130 pole131 pole132 pole133 pole134 pole135 pole136 pole137 pole138 pole139 pole140 pole141 pole142 pole143 pole144 pole145 pole146 pole147";
}
.pole1 {
  grid-area: pole1;
}

.pole2 {
  grid-area: pole2;
}
.pole3 {
  grid-area: pole3;
}

.pole4 {
  grid-area: pole4;
}

.pole5 {
  grid-area: pole5;
}

.pole6 {
  grid-area: pole6;
}

.pole7 {
  grid-area: pole7;
}

.pole8 {
  grid-area: pole8;
}

.pole9 {
  grid-area: pole9;
}
.pole10 {
  grid-area: pole10;
}
.pole11 {
  grid-area: pole11;
}
.pole12 {
  grid-area: pole12;
}
.pole13 {
  grid-area: pole13;
}
.pole14 {
  grid-area: pole14;
}
.pole15 {
  grid-area: pole15;
}
.pole16 {
  grid-area: pole16;
}
.pole17 {
  grid-area: pole17;
}
.pole18 {
  grid-area: pole18;
}
.pole19 {
  grid-area: pole19;
}
.pole20 {
  grid-area: pole20;
}
.pole21 {
  grid-area: pole21;
}

pole22 {
  grid-area: pole22;
}
pole23 {
  grid-area: pole23;
}
pole24 {
  grid-area: pole24;
}
pole25 {
  grid-area: pole25;
}
pole26 {
  grid-area: pole26;
}
pole27 {
  grid-area: pole27;
}
pole28 {
  grid-area: pole28;
}
pole29 {
  grid-area: pole29;
}
pole30 {
  grid-area: pole30;
}
pole31 {
  grid-area: pole31;
}
pole32 {
  grid-area: pole32;
}
pole33 {
  grid-area: pole33;
}
pole34 {
  grid-area: pole34;
}
pole35 {
  grid-area: pole35;
}
pole36 {
  grid-area: pole36;
}
pole37 {
  grid-area: pole37;
}
pole38 {
  grid-area: pole38;
}
pole39 {
  grid-area: pole39;
}
pole40 {
  grid-area: pole40;
}
pole41 {
  grid-area: pole41;
}
pole42 {
  grid-area: pole42;
}
pole43 {
  grid-area: pole43;
}
pole44 {
  grid-area: pole44;
}
pole45 {
  grid-area: pole45;
}
pole46 {
  grid-area: pole46;
}
pole47 {
  grid-area: pole47;
}
pole48 {
  grid-area: pole48;
}
pole49 {
  grid-area: pole49;
}
pole50 {
  grid-area: pole50;
}
pole51 {
  grid-area: pole51;
}
pole52 {
  grid-area: pole52;
}
pole53 {
  grid-area: pole53;
}
pole54 {
  grid-area: pole54;
}
pole55 {
  grid-area: pole55;
}
pole56 {
  grid-area: pole56;
}
pole57 {
  grid-area: pole57;
}
pole58 {
  grid-area: pole58;
}
pole59 {
  grid-area: pole59;
}
pole60 {
  grid-area: pole60;
}
pole61 {
  grid-area: pole61;
}
pole62 {
  grid-area: pole62;
}
pole63 {
  grid-area: pole63;
}
pole64 {
  grid-area: pole64;
}
pole65 {
  grid-area: pole65;
}
pole66 {
  grid-area: pole66;
}
pole67 {
  grid-area: pole67;
}
pole68 {
  grid-area: pole68;
}
pole69 {
  grid-area: pole69;
}
pole70 {
  grid-area: pole70;
}
pole71 {
  grid-area: pole71;
}
pole72 {
  grid-area: pole72;
}
pole73 {
  grid-area: pole73;
}
pole74 {
  grid-area: pole74;
}
pole75 {
  grid-area: pole75;
}
pole76 {
  grid-area: pole76;
}
pole77 {
  grid-area: pole77;
}
pole78 {
  grid-area: pole78;
}
pole79 {
  grid-area: pole79;
}
pole80 {
  grid-area: pole80;
}
pole81 {
  grid-area: pole81;
}
pole82 {
  grid-area: pole82;
}
pole83 {
  grid-area: pole83;
}
pole84 {
  grid-area: pole84;
}
pole85 {
  grid-area: pole85;
}
pole86 {
  grid-area: pole86;
}
pole87 {
  grid-area: pole87;
}
pole88 {
  grid-area: pole88;
}
pole89 {
  grid-area: pole89;
}
pole90 {
  grid-area: pole90;
}
pole91 {
  grid-area: pole91;
}
pole92 {
  grid-area: pole92;
}
pole93 {
  grid-area: pole93;
}
pole94 {
  grid-area: pole94;
}
pole95 {
  grid-area: pole95;
}
pole96 {
  grid-area: pole96;
}
pole97 {
  grid-area: pole97;
}
pole98 {
  grid-area: pole98;
}
pole99 {
  grid-area: pole99;
}
pole100 {
  grid-area: pole100;
}
pole101 {
  grid-area: pole101;
}
pole102 {
  grid-area: pole102;
}
pole103 {
  grid-area: pole103;
}
pole104 {
  grid-area: pole104;
}
pole105 {
  grid-area: pole105;
}
pole106 {
  grid-area: pole106;
}
pole107 {
  grid-area: pole107;
}
pole108 {
  grid-area: pole108;
}
pole109 {
  grid-area: pole109;
}
pole110 {
  grid-area: pole110;
}
pole111 {
  grid-area: pole111;
}
pole112 {
  grid-area: pole112;
}
pole113 {
  grid-area: pole113;
}
pole114 {
  grid-area: pole114;
}
pole115 {
  grid-area: pole115;
}
pole116 {
  grid-area: pole116;
}
pole117 {
  grid-area: pole117;
}
pole118 {
  grid-area: pole118;
}
pole119 {
  grid-area: pole119;
}
pole120 {
  grid-area: pole120;
}
pole121 {
  grid-area: pole121;
}
pole122 {
  grid-area: pole122;
}
pole123 {
  grid-area: pole123;
}
pole124 {
  grid-area: pole124;
}
pole125 {
  grid-area: pole125;
}
pole126 {
  grid-area: pole126;
}
pole127 {
  grid-area: pole127;
}
pole128 {
  grid-area: pole128;
}
pole129 {
  grid-area: pole129;
}
pole130 {
  grid-area: pole130;
}
pole131 {
  grid-area: pole131;
}
pole132 {
  grid-area: pole132;
}
pole133 {
  grid-area: pole133;
}
pole134 {
  grid-area: pole134;
}
pole135 {
  grid-area: pole135;
}
pole136 {
  grid-area: pole136;
}
pole137 {
  grid-area: pole137;
}
pole138 {
  grid-area: pole138;
}
pole139 {
  grid-area: pole139;
}
pole140 {
  grid-area: pole140;
}
pole141 {
  grid-area: pole141;
}
pole142 {
  grid-area: pole142;
}
pole143 {
  grid-area: pole143;
}
pole144 {
  grid-area: pole144;
}
pole145 {
  grid-area: pole145;
}
pole146 {
  grid-area: pole146;
}
pole147 {
  grid-area: pole147;
}
